# Python
__pycache__/
*.egg-info/

# Local environment
.venv/
.DS_Store
node_modules/
webapp/dist/
runtime/
data/
.dataset-cache/
.mcp4cm_embeddings/

eamodelset*
figs*
modelset-uml*

runtime-*
threshold*

evaluation/eamodelset-archimate-runtime/
evaluation/modelset-ecore-xmi-runtime/
evaluation/modelset-uml-xmi-runtime/
evaluation/sap-sam-bpmn-runtime/